@use './vars' as vars;
@use './mq' as mq;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-position-y: 6px;
}

// Form Inputs
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

// Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: vars.$color-text-primary;
  -webkit-box-shadow: 0 0 0px 1000px vars.$color-bg inset;
  transition: background-color 5000s ease-in-out 0s;
}

.flow > * + * {
  margin-top: 2.4rem;
}
