// Colors
$color-text-primary: rgb(0, 114, 41);
$color-text-secondary: #fff;
$color-bg: #fff;
$color-black: #000;
$color-white: #fff;

// Fonts
$font-size-default: 2.6rem;
$font-size-medium: 2rem;
$letter-spacing-default: 2px;

:root {
  --clr-TEST: #f0f;
}

