// Colors
$color-text-primary: rgb(0, 114, 41);
$color-text-secondary: #f1f2f4;
$color-bg: #f1f2f4;
$color-black: #000;
$color-white: #f1f2f4;

// Fonts
$font-size-default: 2.6rem;
$font-size-medium: 2rem;
$letter-spacing-default: 2px;


