@use "vars" as *;
@use "mq" as *;

.btn {
  margin: 4rem 0;
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-text-primary;
    border: 0.4rem solid $color-text-primary;
    font-size: $font-size-default;
    padding: 1rem 4rem;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    z-index: 5000;
  }

  &:hover {
    background-color: $color-text-primary;
    // box-shadow: 0 1rem 2rem rgba(0,0,0, 0.4);
    transform: translateY(-0.3rem);
    text-transform: none;
    font-weight: 300 !important;
  }

  &:active {
    // box-shadow: 0 .5rem 1rem rgba(0,0,0, 0.4);
    transform: translateY(0);
  }

  &:hover &__text {
    // background: url('../img/background.jpg');
    background-position: center;
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
    color: $color-text-secondary;
  }

  &--invert {
    &:link,
    &:visited {
      background-color: $color-text-primary;
      border: 0.4rem solid $color-text-primary;
      color: $color-text-secondary;
    }

    &:hover {
      background-color: $color-text-secondary;
      color: $color-text-primary;
    }
  }
}
