

@media (min-width: 800px) {
 .duznatka {
    display: inline-block !important;
  }
  .link--legal {
    right: 24rem !important;
  }

}
@media (min-width: 500px) {
  .kokedama {
    width: 24% !important;
  }
}

@media (min-width: 480px) {
  .paroznatka {
    display: inline-block !important;
  }
}

@media (max-width: 700px) {
  .link--legal {
    right: 2rem !important;
    bottom: 1rem !important;
    font-size: 1.6rem;
  }

  [class*="social-container"] {
      bottom: 5.6rem !important;;
  }
}
