.footer {
 position: relative;
 margin-top: 2.4rem;
}

.kokedama {
  display: inline-block;
  width: 40%;
  max-width: 16rem;
  vertical-align: bottom;
}

.paroznatka {
  width: 30%;
  max-width: 18rem;
  vertical-align: bottom;
  display: none;
}

.duznatka {
  position: absolute !important;
  bottom: 0;
  right: 0;
  width: 16%;
  max-width: 8rem;
  display: none;
}

.link-legal {
  position: absolute;
  bottom: 3.2rem;
  right: 14rem;
  font-weight: 400;
}

@media (min-width: 800px) {
 .duznatka {
    display: inline-block !important;
  }
  .link-legal {
    right: 24rem !important;
  }

}

@media (min-width: 500px) {
  .kokedama {
    width: 24% !important;
  }
}

@media (min-width: 480px) {
  .paroznatka {
    display: inline-block !important;
  }
}

@media (max-width: 700px) {
  .link-legal {
    right: 2rem !important;
    bottom: 1rem !important;
    font-size: 1.6rem;
  }

  [class*="social-container"] {
      bottom: 5.6rem !important;;
  }
}

