.img-card {
  position: relative;
  width: 100%;
  max-width: 40rem;
  height: auto;
}

.img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -4px;
  left: 4px;
  border: 2.5px solid #007229;
  transform: rotate(2deg);
}
