@use "./vars" as vars;
@use "./mq";

.nav-wrapper {
  margin: 3.2rem;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
}

.nav {
  &__icon {
    display: none;
  }

  &__checkbox {
    display: none;
  }

  &__brand {
    display: inline-block;
    position: relative;
    height: 16rem;
  }

  &__logo {
    height: 100%;
    transition: all .4s ease-in-out;
  }

  &__list {
    float: right;
    margin-top: 11rem;
  }

  &__link,
  &__link:link,
  &__link:active {
    font-size: 3.2rem;
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;

    &:not(:last-child) {
      padding-right: 4rem;
    }


    // Problem: font-weight is changed on hover
    // => causes layout shifts
    // Solution: Put bold content in hidden after elements
    &::after {
      display: block;
      height: 0;
      overflow: hidden;
      font-weight: bold;
      visibility: hidden;
    }

    &:nth-child(1)::after {
      content: 'o nás';
    }

    &:nth-child(2)::after {
      content: 'workshopy';
    }

    &:nth-child(3)::after {
      content: 'e-shop';
    }

    &:nth-child(4)::after {
      content: 'kontakt';
    }
  }

  @include mq.media(medium) {
    padding-bottom: 1rem;

    &__link {
      font-size: 2.4rem;
      letter-spacing: 2px;
    }
  }

  @include mq.media(small-medium) {

    &__list &__link {
      &:not(:last-child) {
        padding-right: 3rem;
      }
    }

    &__list &__link {
      font-size: 2.4rem;
      letter-spacing: 1px;
    }
  }

  @include mq.media(small) {

    &__list {
      display: none;
    }

    &__list &__link {
      font-size: 3.2rem;
    }

    &__button {
      background: vars.$color-white;
      height: 8rem;
      width: 8rem;
      position: fixed;
      right: 3.2rem;
      text-align: center;
      padding: 1rem 3.8rem;
      z-index: 20;
      border: 2px solid vars.$color-text-primary;
    }

    &__background {
      height: 8rem;
      width: 8rem;
      position: fixed;
      top: 2rem;
      right: 2rem;
      z-index: 10000;
      padding: 1.2rem 4.2rem;
      transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &__icon {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 90;

      &,
      &::before,
      &::after {
        height: 3px;
        width: 3rem;
        background-color: vars.$color-text-primary;
        display: inline-block;
        transition: all .4s ease-in-out;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
      }

      &::before { top: -1rem; }
      &::after { top: .9rem; }
    }

    // Expand menu
    // Uses checkbox hack with additional js support
    &__checkbox:checked ~ &__button > &__background {
      background: vars.$color-text-primary;
      opacity: 1;
      transform: scale(80);
      z-index: -100;
    }

    // Animate icon on click
    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon:before {
      background-color: vars.$color-bg;
      top: 0;
      transform: rotate(135deg); // 180 - 45
    }

    &__checkbox:checked + &__button &__icon:after {
      background-color: vars.$color-bg;
      top: 0;
      transform: rotate(-135deg);
    }

    &__checkbox:checked ~ &__list {
      top: 16rem;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: fixed;
      width: 50%;
      z-index: 80;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__checkbox:checked ~ &__list &__item {
      color: vars.$color-bg;
      display: block;
      padding-right: 0;
    }

    &__checkbox:checked ~ &__list &__link {
      color: vars.$color-bg;
      padding: 2rem 1rem;
    }
  }
}
